{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Rodgers Family Recipes</title>
        <!-- Element import CSS -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- Import static javascript -->
        <script src="{% static 'recipes/main.js' %}"></script>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto|PT+Sans" rel="stylesheet">
        <!-- CSS -->
        <link href="{% static 'recipes/main.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <el-container id="vue">
            <el-row class="header">
                <el-col :span="8">
                    <a href="{% url 'recipes:index' %}">
                        <h1>Baugh Family Recipes</h1>
                    </a>
                </el-col>
                <el-col :span="12" :offset="4">
                    <div id = "search">
                    <el-input placeholder="Search">
                        <el-select placeholder="Browse" slot="prepend" v-model="browseBy">
                            <el-option label="Appetizers" value="1"></el-option>
                            <el-option label="Entrees" value="2"></el-option>
                            <el-option label="Desserts" value="3"></el-option>
                        </el-select>
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input> 
                    </div>
                </el-col>
            </el-row>
            <div class="header">
            </div>
            <el-header>
                <el-menu
                    mode="horizontal"
                    class="nav-menu"
                >
                    <el-menu-item index="1">Great Grandma's Gracious Goodness</el-menu-item>
                    <el-menu-item index="2">Nana's Thai Kitchen</el-menu-item>
                    <el-menu-item index="3">Penny's Favorites</el-menu-item>
                </el-menu>
            </el-header>
            <el-main>
                <el-carousel height="500px">
                    <el-carousel-item> <img src="{% static 'recipes/images/testimg1.jpg' %}" height="500px" style="display: block; margin:auto;"></el-carousel-item>
                    <el-carousel-item> <img src="{% static 'recipes/images/testimg2.jpg' %}" height="500px" style="display: block; margin:auto;"></el-carousel-item>
                    <el-carousel-item> <img src="{% static 'recipes/images/testimg3.jpg' %}" height="500px" style="display: block; margin:auto;"></el-carousel-item>
                    <el-carousel-item> <img src="{% static 'recipes/images/testimg4.jpg' %}" height="500px" style="display: block; margin:auto;"></el-carousel-item>
                </el-carousel>
            </el-main>
        </el-container>

       
    </body>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Element import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
        vm = new Vue({
            el: '#vue',
            data: {
                message: "hello Vue",
                state1: '',
                browseBy: ''
            },
            delimiters: ["<%", "%>"],
            methods: {
                poop: function() {}
            }
        });
    </script>
</html>
