/* * {
    border: 1px solid black;
} */

body {
    margin: 5% 12.5%;
    padding:0;
    font-family: 'PT Sans', sans-serif;    
}

h1 {
    font-family: 'Roboto', serif;
    font-size: 32px;
}

.header {
    background-color: #d52941;
    padding:0;
    margin:0;
}

.el-select .el-input {
    width: 130px;
}

.header h1 {
    color: #ffffff;
    padding: 5%;
    margin: 5%;
    float: left;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
    text-decoration: none;
}

#search {
    float: right;
    margin: 5%;
    padding-top: 5%;
}

.nav-menu {
    font-family: 'PT Sans', sans-serif;
}
